{% extends "_layout.htm" %}
{% block content %}
{% for archive in archives %}
<div id="archive{{ archive.id }}">
  <h3 class="page-header">
    <span id="archiveName">{{ archive.name }}</span>
    <span class="pull-right">
      {% if edit == archive.id %}
      <a class="btn btn-success btn-xs"
         href="#">
        Ok
      </a>&nbsp;
      <a class="btn btn-danger btn-xs"
         href="{{ archive.get_url() }}">
        Cancel
      </a>
      {% elif not list %}
      <a id="editArchive" class="btn btn-warning btn-xs"
         href="{{ archive.get_url(param='edit') }}">
        Edit
      </a>
      {% else %}
      <a id="editArchive" class="btn btn-primary btn-xs"
         href="{{ archive.get_url() }}">
        ...
      </a>
      {% endif %}
    </span>
  </h3>
  {% if not list %}
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Notes</strong>
      </div>
      <div class="panel-body">
        <p>{{ archive.notes }}</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Boxes</strong>
      </div>
      <div class="panel-body">
        <ul class="list-inline" style="margin-top:5px;margin-bottom:5px;">
          {% for box in archive.boxes|sort(attribute="number") %}
          <li><a href="{{ box.get_url() }}"># {{ box.number }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <p>
      <span class="glyphicon glyphicon-time"></span>
      Last updated: {{ moment(archive.last_update).format("LL") }}
    </p>
  </div>
  {% endif %}
</div>
{% endfor %}
{% endblock %}
