{% extends "_layout.htm" %}
{% block page_stuff %}
<div class="container">
  <div class="col-md-8">
  <div class="container-fluid">
    <div class="page-header"><h3>Education</h3></div>
  </div>
  <div class="container-fluid">
    <div class="col-md-11">
      <dl class="dl-horizontal">
        <dt>Aug. 2015 to Present</dt>
        <dd><strong>Master of Arts in History</strong></dd>
        <dd>Washington State University</dd>
        <br>
        <dt>Sep. 2014 to Jun. 2015</dt>
        <dd><strong>Certification in C# Advanced Programming</strong></dd>
        <dd>University of Washington, PCE</dd>
        <br>
        <dt>Jan. 2011 to Jun. 2013</dt>
        <dd><strong>Bachelor of Arts in History</strong></dd>
        <dd>University of Washington</dd>
      </dl>
    </div>
  </div>
  <div class="container-fluid">
    <div class="page-header"><h3>Work Experience</h3></div>
  </div>
  <div class="container-fluid">
    <div class="col-md-11">
      <dl class="dl-horizontal">
        <dt>Aug. 2016 to Present</dt>
        <dd><strong>RCI Representative</strong></dd>
        <dd>History Graduate Students Association</dd>
        <dd>Washington State University</dd>
        <br>
        <dt>Aug. 2015 to Present</dt>
        <dd><strong>Graduate Teaching Assistant</strong></dd>
        <dd>Washington State University</dd>
        <br>
        <dt>Jun. 2014 to Present</dt>
        <dd><strong>Software Development Engineer</strong></dd>
        <dd>Weather Gage Workshop</dd>
        <br>
        <dt>Oct. 2012 to Jun. 2013</dt>
        <dd><strong>Social Media Director</strong></dd>
        <dd>2013 Senior Class Gift Council</dd>
        <dd>University of Washington</dd>
      </dl>
    </div>
  </div>
  <div class="container-fluid">
    <div class="page-header"><h3>Awards</h3></div>
  </div>
  <div class="container-fluid">
    <div class="col-md-11">
      <dl class="dl-horizontal">
        <dt>Nov. 2015</dt>
        <dd><strong>Edward & Margery Bennett History Graduate Scholarship</strong></dd>
        <dd>Washington State University</dd>
        <br>
        <dt>Sep. 2011 to Mar. 2013</dt>
        <dd><strong>Dean's List</strong></dd>
        <dd>University of Washington</dd>
        <br>
        <dt>Sep. 2011 to Jun. 2012</dt>
        <dd><strong>Certificate of High Scholarship</strong></dd>
        <dd>University of Washington</dd>
      </dl>
    </div>
  </div>
  <br>
</div>
{% endblock %}
