{% extends "_layout.htm" %}
{% block page_stuff %}
<div class="container">
  <div class="col-md-8">
  <div class="container-fluid">
    <div class="page-header"><h3>Kron</h3></div>
  </div>
  <div class="container-fluid">
    <div class="col-md-11">
      <p>
        Blah blah blah
      </p>
      <p>
        <span class="fa fa-github"></span>
        <a href="#">Git Repo</a>
        &nbsp;&nbsp;
        <span class="fa fa-lock"></span>
        <a href="#">Sign In</a>
      </p>
    </div>
  </div>
  <div class="col-md-8">
  <div class="container-fluid">
    <div class="page-header"><h3>Kron</h3></div>
  </div>
  <div class="container-fluid">
    <div class="col-md-11">
      <p>
        Blah blah blah
      </p>
      <p>
        <span class="fa fa-github"></span>
        <a href="#">Git Repo</a>
        &nbsp;&nbsp;
        <span class="fa fa-lock"></span>
        <a href="#">Sign In</a>
      </p>
    </div>
  </div>
  <div class="col-md-8">
  <div class="container-fluid">
    <div class="page-header"><h3>Captain</h3></div>
  </div>
  <div class="container-fluid">
    <div class="col-md-11">
      <p>
        Blah blah blah
      </p>
      <p>
        <span class="fa fa-github"></span>
        <a href="#">Git Repo</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
